In [ ]:
import pandas as pd
import numpy as np

In [ ]:
### Colab 사용 전 드라이브 연결
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

### 지하철역 위치.shp.csv
### => subway.csv
### : 행정동별 역 개수

In [ ]:
alarm = pd.read_csv('/content/gdrive/My Drive/datasciencebasis/지하철역 위치.shp.csv', encoding = 'cp949')

In [ ]:
alarm['행정동'] = alarm['지번주소'].str[6:]  ### 지번주소의 6번째 이후의 데이터를 만들어서 저장
alarm.head(5)

,No,호선,역명,도로명주소,지번주소,경도,위도,상태,행정동
0,1,1,서울,서울특별시 중구 세종대로 지하2(남대문로 5가),서울특별시 중구 남대문로5가 73-6 서울역(1호선),126.972554,37.557160,정좌표,중구 남대문로5가 73-6 서울역(1호선)
1,2,1,시청,서울특별시 중구 세종대로 지하101(정동),서울특별시 중구 정동 5-5 시청역(1호선),126.976983,37.565438,정좌표,중구 정동 5-5 시청역(1호선)
2,3,1,종각,서울특별시 종로구 종로 지하55(종로1가),서울특별시 종로구 종로1가 54 종각역(1호선),126.983240,37.570214,정좌표,종로구 종로1가 54 종각역(1호선)
3,4,1,종로3가,서울특별시 종로구 종로 지하129(종로3가),서울특별시 종로구 종로3가 10-5 종로3가역(1호선),126.992030,37.570426,정좌표,종로구 종로3가 10-5 종로3가역(1호선)
4,5,1,종로5가,서울특별시 종로구 종로 지하216(종로5가),서울특별시 종로구 종로5가 82-1 종로5가역(1호선),127.001916,37.570908,정좌표,종로구 종로5가 82-1 종로5가역(1호선)

In [ ]:
alarm['행정동'] = alarm['행정동'].str.lstrip()  ### 앞 공백을 제거

In [ ]:
alarm['행정동'].str.split(" ").head()  ### 공백을 기준으로 분할

0     [중구, 남대문로5가, 73-6, 서울역(1호선)]
1          [중구, 정동, 5-5, 시청역(1호선)]
2        [종로구, 종로1가, 54, 종각역(1호선)]
3    [종로구, 종로3가, 10-5, 종로3가역(1호선)]
4    [종로구, 종로5가, 82-1, 종로5가역(1호선)]
Name: 행정동, dtype: object

In [ ]:
dong = alarm['행정동'].str.split(" ", expand=True)  ### expand = True 데이터 프레임 형태로 저장
dong

alarm['행정동'] = dong[1]  ### dong의 두번째 열을 행정동으로 지정
alarm.head()

,No,호선,역명,도로명주소,지번주소,경도,위도,상태,행정동
0,1,1,서울,서울특별시 중구 세종대로 지하2(남대문로 5가),서울특별시 중구 남대문로5가 73-6 서울역(1호선),126.972554,37.557160,정좌표,남대문로5가
1,2,1,시청,서울특별시 중구 세종대로 지하101(정동),서울특별시 중구 정동 5-5 시청역(1호선),126.976983,37.565438,정좌표,정동
2,3,1,종각,서울특별시 종로구 종로 지하55(종로1가),서울특별시 종로구 종로1가 54 종각역(1호선),126.983240,37.570214,정좌표,종로1가
3,4,1,종로3가,서울특별시 종로구 종로 지하129(종로3가),서울특별시 종로구 종로3가 10-5 종로3가역(1호선),126.992030,37.570426,정좌표,종로3가
4,5,1,종로5가,서울특별시 종로구 종로 지하216(종로5가),서울특별시 종로구 종로5가 82-1 종로5가역(1호선),127.001916,37.570908,정좌표,종로5가

In [ ]:
dataframe = pd.DataFrame(alarm)
dataframe = dataframe.drop([dataframe.index[268], dataframe.index[269], dataframe.index[270], dataframe.index[271], dataframe.index[272], dataframe.index[273], dataframe.index[274]])  ### 경기도 제거

In [ ]:
dataframe_n = pd.DataFrame(dataframe['행정동'].value_counts())
dataframe_n = dataframe_n.reset_index()
dataframe_n.rename(columns = {'index':'행정동명'}, inplace = True)
dataframe_n.rename(columns = {'행정동':'역 개수'}, inplace = True)
dataframe_n ### 최종 데이터

      행정동명  역 개수
0      상계동     6
1      신당동     6
2      삼성동     6
3      가락동     5
4      사당동     5
..     ...   ...
166  삼선동1가     1
167  동선동4가     1
168    길음동     1
169    수유동     1
170    삼전동     1

[171 rows x 2 columns]

In [ ]:
# dataframe_n.to_csv("/content/gdrive/My Drive/datasciencebasis/subway.csv", index = False, encoding = 'cp949')

### 행정동별 서울시 병의원 위치 정보_new.csv
### => hospital.csv
### : 행정동별 병원 수

In [ ]:
alarm_1 = pd.read_csv('/content/gdrive/My Drive/datasciencebasis/행정동별 서울시 병의원 정보.csv', encoding = 'cp949')
alarm_1 = pd.DataFrame(alarm_1)
alarm_1 = alarm_1[ : 225]  ### 병원 개수 10개 미만인 행 삭제
alarm_1 = alarm_1.drop(index = 1)
alarm_1.rename(columns = {'index':'행정동명'}, inplace = True)
alarm_1.rename(columns = {'입력주소':'병원 개수'}, inplace = True)
alarm_1

      행정동명  병원 개수
0      신사동    677
2      서초동    592
3      역삼동    549
4      논현동    453
5      상계동    368
..     ...    ...
220    내곡동     10
221  성북동1가     10
222    용문동     10
223    영천동     10
224  원효로2가     10

[224 rows x 2 columns]

In [ ]:
# alarm_1.to_csv('/content/gdrive/My Drive/datasciencebasis/hospital.csv', index = False, encoding = 'cp949')

### 행정동별 주민등록인구 연령별 통계.csv
### => pop_age.csv
### : 행정동별 주민등록인구(청년) 수

In [ ]:
alarm_2 = pd.read_csv('/content/gdrive/My Drive/datasciencebasis/행정동별 주민등록인구 연령별 통계.csv', encoding = 'cp949')
alarm_2 = pd.DataFrame(alarm_2)
alarm_2.rename(columns = {'동':'행정동명'}, inplace = True)
alarm_2 = alarm_2.drop(['기간', '계'], axis = 1)
alarm_2['청년인구 수'] = alarm_2['20~24세'] + alarm_2['25~29세'] + alarm_2['30~34세'] + alarm_2['35~39세']
alarm_2 = alarm_2.drop(columns = ['20~24세', '25~29세', '30~34세', '35~39세'], axis = 1)
alarm_2

     자치구  행정동명   청년인구 수
0    종로구   사직동   2618.0
1    종로구   삼청동    639.0
2    종로구   부암동   2461.0
3    종로구   평창동   4550.0
4    종로구   무악동   1830.0
..   ...   ...      ...
421  강동구  천호2동  11059.5
422  강동구    길동  14483.0
423  강동구   강일동   7337.5
424  강동구  상일1동   9275.5
425  강동구  상일2동   2514.0

[426 rows x 3 columns]

In [ ]:
# alarm_2.to_csv('/content/gdrive/My Drive/datasciencebasis/pop_age.csv', index = False, encoding = 'cp949')

### 행정동별 1인,2인가구 현황.csv
### => pop_youth.csv
### 행정동별 1인가구 수

In [ ]:
alarm_3 = pd.read_csv('/content/gdrive/My Drive/datasciencebasis/행정동별 1인,2인가구 현황.csv', encoding = 'utf-8')
alarm_3 = alarm_3.drop(columns = ['2인가구'], axis = 1)
alarm_3.rename(columns = {'행정동':'행정동명'}, inplace = True)
alarm_3

     자치구  행정동명  1인가구
0    종로구   사직동  1487
1    종로구   삼청동   380
2    종로구   부암동  1129
3    종로구   평창동  1302
4    종로구   무악동   494
..   ...   ...   ...
420  강동구  둔촌1동     6
421  강동구  둔촌2동  2389
422  강동구  암사1동  4551
423  강동구  천호2동  6378
424  강동구    길동  6909

[425 rows x 3 columns]

In [ ]:
# alarm_3.to_csv('/content/gdrive/My Drive/datasciencebasis/pop_youth.csv', index = False, encoding = 'cp949')

### 행정동별 주택 보급률.csv
### => housing.csv
### : 행정동별 주택 보급률

In [ ]:
alarm_4 = pd.read_csv('/content/gdrive/My Drive/datasciencebasis/행정동별 주택 보급률.csv', encoding = 'cp949')
div = alarm_4.loc[:, ['주택보급률']]
div = div / 100
alarm_4.loc[:,'주택보급률(%)'] = div  # 주택보급률 백분율 컬럼 추가(인덱싱)
alarm_4 = alarm_4.drop(columns = ['주택보급률','일반가구수', '주택수', '기간'])  # 기존 주택보급률 컬럼 제거
alarm_4 = alarm_4.rename(columns = {'동':'행정동명'})
alarm_4

     자치구  행정동명  주택보급률(%)
0    종로구   사직동     0.724
1    종로구   삼청동     0.708
2    종로구   부암동     0.814
3    종로구   평창동     0.951
4    종로구   무악동     0.992
..   ...   ...       ...
420  강동구  둔촌1동     0.385
421  강동구  둔촌2동     0.801
422  강동구  암사1동     0.699
423  강동구  천호2동     0.596
424  강동구    길동     0.757

[425 rows x 3 columns]

In [ ]:
# alarm_4.to_csv('/content/gdrive/My Drive/datasciencebasis/housing.csv', index = False, encoding = 'cp949')

### 서울시 건축물대장 법정동 코드정보 병합

In [ ]:
alarm_5 = pd.read_csv('/content/gdrive/My Drive/datasciencebasis/서울시 건축물대장 법정동 코드정보.csv', encoding = 'utf-8')

In [ ]:
alarm_5 = pd.DataFrame(alarm_5)
alarm_5.head()

   시군구코드  법정동코드  행정동코드    시도명 시군구명 법정동명   행정동명
0  11740  10300    526  서울특별시  강동구  상일동  상일제2동
1  11740  10300    525  서울특별시  강동구  상일동  상일제1동
2  11290  10300    620  서울특별시  성북구  돈암동  정릉제1동
3  11530  11200    800  서울특별시  구로구   항동     항동
4  11305  10300    635  서울특별시  강북구  수유동   수유3동

In [ ]:
alarm_5 = alarm_5.astype({'행정동코드':'str'})  # 행정동코드 문자형 변환
alarm_5 = alarm_5.astype({'시군구코드':'str'})  # 시군구코드 문자형 변환
alarm_5.dtypes

시군구코드    object
법정동코드     int64
행정동코드    object
시도명      object
시군구명     object
법정동명     object
행정동명     object
dtype: object

In [ ]:
alarm_5['code'] = alarm_5['시군구코드'] + alarm_5['행정동코드']  # 시군구코드, 행정동코드 문자열 붙이기
alarm_5

      시군구코드  법정동코드 행정동코드    시도명  시군구명 법정동명   행정동명      code
0     11740  10300   526  서울특별시   강동구  상일동  상일제2동  11740526
1     11740  10300   525  서울특별시   강동구  상일동  상일제1동  11740525
2     11290  10300   620  서울특별시   성북구  돈암동  정릉제1동  11290620
3     11530  11200   800  서울특별시   구로구   항동     항동  11530800
4     11305  10300   635  서울특별시   강북구  수유동   수유3동  11305635
...     ...    ...   ...    ...   ...  ...    ...       ...
1232  11110  14500   540  서울특별시   종로구  송현동    삼청동  11110540
1233  11110  18400   550  서울특별시   종로구  부암동    부암동  11110550
1234  11230  11000   740  서울특별시  동대문구  이문동  이문제1동  11230740
1235  11440  12100   670  서울특별시   마포구  동교동    동교동  11440670
1236  11440  12200   680  서울특별시   마포구  합정동    합정동  11440680

[1237 rows x 8 columns]

In [ ]:
alarm_5 = alarm_5.astype({'code':'int'})  # 위에서 붙인 컬럼'code' 정수형 변환 
alarm_5.dtypes

시군구코드    object
법정동코드     int64
행정동코드    object
시도명      object
시군구명     object
법정동명     object
행정동명     object
code      int64
dtype: object

In [ ]:
alarm_6 = pd.read_csv('/content/gdrive/My Drive/datasciencebasis/행정동별 서울 생활인구(202111).csv', encoding = 'utf-8')  # 행정동 서울 생활인구
alarm_6.rename(columns={'행정동코드':'code'}, inplace=True)  # alarm_5, alarm_6 병합 위해서 컬럼명 재설정

alarm_7 = pd.merge(alarm_6, alarm_5, how = 'left', on='code')  # 컬럼 'code' 기준으로 병합
alarm_7 = alarm_7.drop(columns = ['남자20세부터24세생활인구수', '남자25세부터29세생활인구수', '남자30세부터34세생활인구수', '남자35세부터39세생활인구수', '여자20세부터24세생활인구수', '여자25세부터29세생활인구수', '여자30세부터34세생활인구수', '여자35세부터39세생활인구수', '시도명'])  # 연령별 컬럼 제거
alarm_7

,기준일ID,시간대구분,code,총생활인구수,시군구코드,법정동코드,행정동코드,시군구명,법정동명,행정동명
0,20211101,0,11470680,22796.1407,11470,10100,680,양천구,신정동,신정7동
1,20211101,0,11440730,37070.1563,11440,12600,730,마포구,중동,성산제2동
2,20211101,0,11440730,37070.1563,11440,12500,730,마포구,성산동,성산제2동
3,20211101,0,11200590,17952.5176,11200,10900,590,성동구,금호동1가,금호1가동
4,20211101,0,11680656,30585.8034,11680,11800,656,강남구,도곡동,도곡제2동
...,...,...,...,...,...,...,...,...,...,...
557995,20211130,23,11290555,24891.7476,11290,10800,555,성북구,동소문동5가,삼선동
557996,20211130,23,11290555,24891.7476,11290,10300,555,성북구,돈암동,삼선동
557997,20211130,23,11290555,24891.7476,11290,11200,555,성북구,삼선동2가,삼선동
557998,20211130,23,11710642,33110.4507,11710,10800,642,송파구,문정동,문정제2동
557999,20211130,23,11710642,33110.4507,11710,10900,642,송파구,장지동,문정제2동

In [ ]:
### 일일 청년 활동 시간(9 - 21시로 지정)만 추출
alarm_7.dtypes
time_list = [9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
alarm_7[alarm_7['시간대구분'].isin(time_list)]
today_alarm_7 = alarm_7[alarm_7['시간대구분'].isin(time_list)]
today_alarm_7.drop(columns = ['시군구코드', '법정동코드', '행정동코드', '법정동명', 'code'])  # 필수 컬럼 제외 후 제거

           기준일ID  시간대구분      총생활인구수 시군구명   행정동명
6975    20211101      9  20841.5609  광진구  자양제3동
6976    20211101      9  20841.5609  광진구  자양제3동
6977    20211101      9  18710.1746  강남구  일원제1동
6978    20211101      9  18710.1746  강남구  일원제1동
6979    20211101      9  17654.0771  강서구  화곡제3동
...          ...    ...         ...  ...    ...
556445  20211130     21  15262.4543   중구    소공동
556446  20211130     21  15262.4543   중구    소공동
556447  20211130     21  15262.4543   중구    소공동
556448  20211130     21  29675.2626  강동구  둔촌제2동
556449  20211130     21  29675.2626  강동구  둔촌제2동

[302250 rows x 5 columns]

In [ ]:
ID_list = [20211106, 20111107, 20111113, 20111114, 20111120, 20111121, 20111127, 20111128]  # 평일 9 - 21시에 활동하는 동별 생활인구 수 추출
today_alarm_7[~today_alarm_7['기준일ID'].isin(ID_list)]
t_work = today_alarm_7[~today_alarm_7['기준일ID'].isin(ID_list)]
t_work
# t_work.to_csv('/content/gdrive/My Drive/datasciencebasis/t_work.csv', index = False, encoding = 'cp949')

,기준일ID,시간대구분,code,총생활인구수,시군구코드,법정동코드,행정동코드,시군구명,법정동명,행정동명
6975,20211101,9,11215840,20841.5609,11215,10600,840,광진구,노유동,자양제3동
6976,20211101,9,11215840,20841.5609,11215,10500,840,광진구,자양동,자양제3동
6977,20211101,9,11680730,18710.1746,11680,11400,730,강남구,일원동,일원제1동
6978,20211101,9,11680730,18710.1746,11680,11500,730,강남구,수서동,일원제1동
6979,20211101,9,11500560,17654.0771,11500,10300,560,강서구,화곡동,화곡제3동
...,...,...,...,...,...,...,...,...,...,...
556445,20211130,21,11140520,15262.4543,11140,11400,520,중구,태평로2가,소공동
556446,20211130,21,11140520,15262.4543,11140,11500,520,중구,남대문로2가,소공동
556447,20211130,21,11140520,15262.4543,11140,11100,520,중구,소공동,소공동
556448,20211130,21,11740700,29675.2626,11740,10600,700,강동구,둔촌동,둔촌제2동
556449,20211130,21,11740700,29675.2626,11740,10500,700,강동구,길동,둔촌제2동

In [ ]:
### 주말 9 - 21시에 활동하는 동별 생활인구 수 추출
ID_list = [20211106, 20111107, 20111113, 20111114, 20111120, 20111121, 20111127, 20111128] # 주말
today_alarm_7[today_alarm_7['기준일ID'].isin(ID_list)]
t_holi = today_alarm_7[today_alarm_7['기준일ID'].isin(ID_list)]
t_holi
# t_holi.to_csv('/content/gdrive/My Drive/datasciencebasis/t_holi.csv', index = False, encoding = 'cp949')

,기준일ID,시간대구분,code,총생활인구수,시군구코드,법정동코드,행정동코드,시군구명,법정동명,행정동명
99975,20211106,9,11110515,17667.0659,11110,10500,515,종로구,창성동,청운효자동
99976,20211106,9,11110515,17667.0659,11110,10300,515,종로구,궁정동,청운효자동
99977,20211106,9,11110515,17667.0659,11110,11900,515,종로구,세종로,청운효자동
99978,20211106,9,11110515,17667.0659,11110,10800,515,종로구,통인동,청운효자동
99979,20211106,9,11110515,17667.0659,11110,10400,515,종로구,효자동,청운효자동
...,...,...,...,...,...,...,...,...,...,...
110045,20211106,21,11740660,28523.8167,11740,10800,660,강동구,성내동,성내제3동
110046,20211106,21,11740685,55704.4865,11740,10500,685,강동구,길동,길동
110047,20211106,21,11740690,4488.6801,11740,10600,690,강동구,둔촌동,둔촌제1동
110048,20211106,21,11740700,26133.3066,11740,10600,700,강동구,둔촌동,둔촌제2동
110049,20211106,21,11740700,26133.3066,11740,10500,700,강동구,길동,둔촌제2동

---

In [ ]:
je = alarm_7[(alarm_7['행정동명'] == '제기동') | (alarm_7['행정동명'] == '홍제제1동') | (alarm_7['행정동명'] == '홍제제2동') | (alarm_7['행정동명'] == '홍제제3동')]
je

,기준일ID,시간대구분,code,총생활인구수,시군구코드,법정동코드,행정동코드,시군구명,법정동명,행정동명
78,20211101,0,11410620,26896.5635,11410,11100,620,서대문구,홍제동,홍제제1동
102,20211101,0,11410640,16655.0735,11410,11100,640,서대문구,홍제동,홍제제3동
143,20211101,0,11410655,11066.0308,11410,11100,655,서대문구,홍제동,홍제제2동
402,20211101,0,11230545,33374.8362,11230,10300,545,동대문구,제기동,제기동
928,20211101,1,11410640,16764.9211,11410,11100,640,서대문구,홍제동,홍제제3동
...,...,...,...,...,...,...,...,...,...,...
556895,20211130,22,11410655,11062.1107,11410,11100,655,서대문구,홍제동,홍제제2동
557316,20211130,23,11410620,26362.0645,11410,11100,620,서대문구,홍제동,홍제제1동
557445,20211130,23,11410640,16907.8464,11410,11100,640,서대문구,홍제동,홍제제3동
557718,20211130,23,11230545,32751.1038,11230,10300,545,동대문구,제기동,제기동
557846,20211130,23,11410655,11069.0764,11410,11100,655,서대문구,홍제동,홍제제2동

In [ ]:
je['행정동명'] = je['행정동명'].str.replace('홍제제1동', '홍제1동')
je['행정동명'] = je['행정동명'].str.replace('홍제제2동', '홍제2동')
je['행정동명'] = je['행정동명'].str.replace('홍제제3동', '홍제3동')
je

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,기준일ID,시간대구분,code,총생활인구수,시군구코드,법정동코드,행정동코드,시군구명,법정동명,행정동명
78,20211101,0,11410620,26896.5635,11410,11100,620,서대문구,홍제동,홍제1동
102,20211101,0,11410640,16655.0735,11410,11100,640,서대문구,홍제동,홍제3동
143,20211101,0,11410655,11066.0308,11410,11100,655,서대문구,홍제동,홍제2동
402,20211101,0,11230545,33374.8362,11230,10300,545,동대문구,제기동,제기동
928,20211101,1,11410640,16764.9211,11410,11100,640,서대문구,홍제동,홍제3동
...,...,...,...,...,...,...,...,...,...,...
556895,20211130,22,11410655,11062.1107,11410,11100,655,서대문구,홍제동,홍제2동
557316,20211130,23,11410620,26362.0645,11410,11100,620,서대문구,홍제동,홍제1동
557445,20211130,23,11410640,16907.8464,11410,11100,640,서대문구,홍제동,홍제3동
557718,20211130,23,11230545,32751.1038,11230,10300,545,동대문구,제기동,제기동
557846,20211130,23,11410655,11069.0764,11410,11100,655,서대문구,홍제동,홍제2동

In [ ]:
df = alarm_7[(alarm_7['행정동명'] != '제기동') & (alarm_7['행정동명'] != '홍제제1동') & (alarm_7['행정동명'] != '홍제제2동') & (alarm_7['행정동명'] != '홍제제3동')]

In [ ]:
df

,기준일ID,시간대구분,code,총생활인구수,시군구코드,법정동코드,행정동코드,시군구명,법정동명,행정동명
0,20211101,0,11470680,22796.1407,11470,10100,680,양천구,신정동,신정7동
1,20211101,0,11440730,37070.1563,11440,12600,730,마포구,중동,성산제2동
2,20211101,0,11440730,37070.1563,11440,12500,730,마포구,성산동,성산제2동
3,20211101,0,11200590,17952.5176,11200,10900,590,성동구,금호동1가,금호1가동
4,20211101,0,11680656,30585.8034,11680,11800,656,강남구,도곡동,도곡제2동
...,...,...,...,...,...,...,...,...,...,...
557995,20211130,23,11290555,24891.7476,11290,10800,555,성북구,동소문동5가,삼선동
557996,20211130,23,11290555,24891.7476,11290,10300,555,성북구,돈암동,삼선동
557997,20211130,23,11290555,24891.7476,11290,11200,555,성북구,삼선동2가,삼선동
557998,20211130,23,11710642,33110.4507,11710,10800,642,송파구,문정동,문정제2동
557999,20211130,23,11710642,33110.4507,11710,10900,642,송파구,장지동,문정제2동

In [ ]:
df['행정동명'] = df['행정동명'].str.replace('제', '')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
final = pd.concat([df, je], axis = 0)

In [ ]:
final

,기준일ID,시간대구분,code,총생활인구수,시군구코드,법정동코드,행정동코드,시군구명,법정동명,행정동명
0,20211101,0,11470680,22796.1407,11470,10100,680,양천구,신정동,신정7동
1,20211101,0,11440730,37070.1563,11440,12600,730,마포구,중동,성산2동
2,20211101,0,11440730,37070.1563,11440,12500,730,마포구,성산동,성산2동
3,20211101,0,11200590,17952.5176,11200,10900,590,성동구,금호동1가,금호1가동
4,20211101,0,11680656,30585.8034,11680,11800,656,강남구,도곡동,도곡2동
...,...,...,...,...,...,...,...,...,...,...
556895,20211130,22,11410655,11062.1107,11410,11100,655,서대문구,홍제동,홍제2동
557316,20211130,23,11410620,26362.0645,11410,11100,620,서대문구,홍제동,홍제1동
557445,20211130,23,11410640,16907.8464,11410,11100,640,서대문구,홍제동,홍제3동
557718,20211130,23,11230545,32751.1038,11230,10300,545,동대문구,제기동,제기동
557846,20211130,23,11410655,11069.0764,11410,11100,655,서대문구,홍제동,홍제2동